[Unit]
Description=Prevent accidental shutdowns, reboots etc.

[Service]
ExecStart=/usr/local/sbin/mollyguardctl start
RemainAfterExit=true
ExecStop=/usr/local/sbin/mollyguardctl stop

[Install]
WantedBy=multi-user.target
